<app-common-header
    [templateHeader]="header"
    [templateContent]="content">
</app-common-header>

<ng-template #header>
     {{'Users'}}
</ng-template>

<ng-template #content>
     {{'Total Users: 20'}}
</ng-template>

<button type="button" (click)="isGridView = true">
  <span class="material-icons" [ngClass]="isGridView ? 'selected' : ''">
    grid_view
  </span>
</button>
<button type="button" (click)="isGridView = false">
  <span class="material-icons" [ngClass]="!isGridView ? 'selected' : ''">
    toc
  </span>
</button>

<ng-container *ngIf="!isGridView">
  <app-users-table *ngIf="userList.length > 0" [userList]="userList"></app-users-table>
</ng-container>

<ng-container *ngIf="isGridView">
  <app-users-grid [userList]="userList"></app-users-grid>
</ng-container>


